.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mode-container {
  height: 25vh;
  width: 35vw;
  border: 1px solid #323f4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.btn {
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
}
